<html>
   <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import Google Fonts-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
         /* Global styles */
         body {
         display: flex;
         min-height: 10vh;
         flex-direction: column;
         background-color: #fbfafa;
         }
         main {
         flex: 1 0 auto;
         }
         h1, h2, h3, h4, h5 {
         font-family: 'Roboto', sans-serif;
         }
         h3 {
         font-size: 22px;
         font-weight: bold;
         }
         /* Specific styles */
         .brand-logo {
         font-size: 24px;
         }
         .brand-logo-text {
         margin-left: 24px;
         font-family: 'Roboto', sans-serif;
         }
         .container {
         position: center;
         width: 100%;
         height: 100%;
         display: table;
         margin: 0 auto;
         vertical-align: middle
         object-fit: cover;
         }
         .container img {
         position: relative;
         width: 100%;
         height: 100%;
         display: table;
         margin: 0 auto;
         vertical-align: middle
         object-fit: cover;
         }

         .image-block {
         position: relative;
         height: 300px;
         }
         .container .btn {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         background-color: #7FFFD4;
         color: black;
         font-size: 16px;
         border: none;
         cursor: pointer;
         border-radius: 5px;
         text-align: center;
         display: table;
         vertical-align: middle
         }

         .container .btn:hover {
         background-color: #1FFFD7;
         display: flex;
         vertical-align: middle
         }

      </style>
   </head>
   <title>YPA - Webshop</title>
   <body>
      <main>
         <nav>
            <div class="nav-wrapper">
               <a href="/" class="brand-logo brand-logo-text">Welcome to the YPA-Webshop</a>
               <div class="center-align hide-on-med-and-down">
                  <a href="/" class="breadcrumb">Home</a>
               </div>
            </div>
         </nav>
         <div class="container">{% block content %}{% endblock %}</div>
      </main>
   </body>
</html>