{% extends "base.html" %}

{% block content %}

    <h4>Product Details</h4>
        <div class="col s6 md4 image-block" align="center">
            <div class="col-lg-3" align="center">
                <th>Product:</th>
                <div>{{ meta_data.name }}</div>
                <div><img src="{{ meta_data.image }}" style="width: 25%" class="responsive-img"></div>
                <div>{{ meta_data.price }}</div>
                <div>{{ meta_data.description }}</div>
                <div>{{ meta_data.availability }}</div>
                <div>{{ meta_data.rating }}</div>
                <div>{{ meta_data.category }}</div>
            </div>
        </div>
    </table>

{% endblock %}