{% extends "base.html" %}

{% block content %}
    <h4>Products</h4>

    <p>Images:</p>
    <div class="row">

        {% for image in images %}
        <div class="col s3 md3 hoverable image-block">
            <a href="/details/{{ image.uuid }}">
            <img src="{{ image.image }}" style="width: 100%; height: 100%" class="responsive-img"></a>
        </div>
        {% endfor %}

    </div>

{% endblock %}