{% extends "base.html" %}

{% block content %}

    <h4>Product categories</h4>
    <div>
        {% for cat in category_dict %}
        <div class="container" style="width: 200px; float:left;">
            <a href="/images/{{ cat }}">
                <img src="{{ category_dict[cat] }}"
                     alt="Snow" style="width:100%" , width="64px">
                <button class="btn">{{ cat }}</button>
            </a>
        </div>
        {% endfor %}

{% endblock %}